<!-- <div class="h-full bg-gray-800 fixed z-10 top-0 left-0"> -->
    <div class="flex flex-col w-64">
      <div class="flex flex-col flex-1 bg-gray-800 h-screen">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-4 text-gray-300 font-bold text-2xl cursor-pointer" (click)="goToHome()">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3"></path></svg>
            <span class="ml-1">Music Flow</span>
          </div>
          <nav class="mt-5 flex-1 px-2 bg-gray-800 space-y-1">
            <div class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
              <span class="tracking-widest">MY PLAYLISTS</span>
            </div>
            <div class="border border-gray-700"></div>
            <ng-container *ngFor="let singlePlaylist of allCustomPlaylist; let i= index">
              <button type="button" (click)="gotoPlaylist(singlePlaylist)"  class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md w-full">
                {{singlePlaylist.title}}
              </button>
            </ng-container>
          </nav>
        </div>
      </div>
    </div>
  <!-- </div> -->