<!-- This example requires Tailwind CSS v2.0+ -->
<div class="h-screen flex overflow-hidden bg-gray-100">
      <!-- Static sidebar for desktop -->
      <div class="hidden md:flex md:flex-shrink-0">
        <div class="flex flex-col w-64">
          <!-- Sidebar component, swap this element with another sidebar if you like -->
          <div class="flex flex-col h-0 flex-1 bg-gray-800">
            <div class="flex-1 flex flex-col pt-5 pb-4 ">
              <div class="flex items-center flex-shrink-0 px-4 text-gray-300">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3"></path></svg>
                Music Flow
              </div>
              <nav class="mt-5 flex-1 px-2 bg-gray-800 space-y-1">
                <a href="#" class="bg-gray-900 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                  <svg class="text-gray-300 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                  </svg>
                  Home
                </a>

                <div class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                  <span class="tracking-widest">MY PLAYLISTS</span>
                </div>
                <div class="border border-gray-700"></div>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                  Chill vibes
                </a>

                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                  Morning moods
                </a>

                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
                  </svg>
                  New PlayList
                </a>

              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-0 flex-1 overflow-hidden">
        <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
          <button class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Open sidebar</span>
            <!-- Heroicon name: outline/menu -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
        <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
          <div class="py-6">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-1">
              <h1 class="text-xl font-semibold text-gray-900">My Music</h1>
            </div>
            <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
              <!-- Replace with your content -->
              <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
                <li class="relative">
                  <div class="focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 h-48 group block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
                    <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="group-hover:opacity-75 object-cover pointer-events-none">
                  </div>
                  <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none"></p>
                  <p class="block text-sm font-medium text-gray-500 pointer-events-none">3.9 MB</p>
                </li>

                <li class="relative">
                  <div class="focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 h-48 group block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
                    <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="group-hover:opacity-75 object-cover pointer-events-none">
                  </div>
                  <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">IMG_4985.HEIC</p>
                  <p class="block text-sm font-medium text-gray-500 pointer-events-none">3.9 MB</p>
                </li>


                <li class="relative">
                  <div class="focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 group h-48 block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
                    <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="group-hover:opacity-75 object-cover pointer-events-none">
                  </div>
                  <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">IMG_4985.HEIC</p>
                  <p class="block text-sm font-medium text-gray-500 pointer-events-none">3.9 MB</p>
                </li>


                <li class="relative">
                  <div class="focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 group block w-full h-48 aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
                    <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="group-hover:opacity-75 object-cover pointer-events-none">
                  </div>
                  <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">IMG_4985.HEIC</p>
                  <p class="block text-sm font-medium text-gray-500 pointer-events-none">3.9 MB</p>
                </li>


                <li class="relative">
                  <div class="focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 group block w-full h-48 aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
                    <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="group-hover:opacity-75 object-cover pointer-events-none">
                  </div>
                  <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">IMG_4985.HEIC</p>
                  <p class="block text-sm font-medium text-gray-500 pointer-events-none">3.9 MB</p>
                </li>
                <li class="relative">
                  <div class="focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 group block w-full h-48 aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
                    <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="group-hover:opacity-75 object-cover pointer-events-none">
                  </div>
                  <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">IMG_4985.HEIC</p>
                  <p class="block text-sm font-medium text-gray-500 pointer-events-none">3.9 MB</p>
                </li>
                <li class="relative">
                  <div class="focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 group block w-full h-48 aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
                    <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="group-hover:opacity-75 object-cover pointer-events-none">
                  </div>
                  <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">IMG_4985.HEIC</p>
                  <p class="block text-sm font-medium text-gray-500 pointer-events-none">3.9 MB</p>
                </li>
                <li class="relative">
                  <div class="focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500 group block w-full h-48 aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
                    <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="group-hover:opacity-75 object-cover pointer-events-none">
                  </div>
                  <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">IMG_4985.HEIC</p>
                  <p class="block text-sm font-medium text-gray-500 pointer-events-none">3.9 MB</p>
                </li>

                <!-- More files... -->
              </ul>

              <!-- /End replace -->
            </div>
          </div>
        </main>
      </div>




</div>
<div class="fixed w-full h-auto bottom-0 z-10 text-center p-5 bg-gray-100 border-t-2 border-gray-700">
  <ngx-audio-player #player (trackEnded)="onEnded($event)"
  [autoPlay]="true"
  [displayPlaylist]="false"
  [tableHeader]="msaapTableHeader"
  [titleHeader]="msaapTitleHeader"
  [artistHeader]="msaapArtistHeader"
  [durationHeader]="msaapDurationHeader"
  [disablePositionSlider]="false"
  [pageSizeOptions]="pageSizeOptions"
  [playlist]="blues">
</ngx-audio-player>
</div>

